# ===============================
# Maven / Build output
# ===============================
target/
test-output/

# ===============================
# Screenshots & Reports
# ===============================
screenshots/
extent-reports/
reports/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Eclipse / IDE files
# ===============================
.project
.classpath
.settings/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary files
# ===============================
*.tmp
*.bak
